body {
  font-family: sans-serif;
}

pre {
  display: flex;
  background-color: lightgrey;
  border: 0px solid gray;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
}
.sections {
  margin: 10px;
  padding: 10px;
  transition: padding 1s;
  -webkit-box-shadow: 7px 14px 30px 5px rgba(199, 199, 199, 0.83);
  -moz-box-shadow: 7px 14px 30px 5px rgba(199, 199, 199, 0.83);
  box-shadow: 7px 14px 30px 5px rgba(199, 199, 199, 0.83);
}
.sections:hover{
  padding: 30px;
}
